---
import { getCollection } from "astro:content";

import Layout from "@/layouts/Layout.astro";
import SocialLinks from "@/components/SocialLinks.astro";
import ProjectCard from "@/components/ProjectCard.astro";
import Link from "@/components/shared/Link.astro";

import presentation from "@/data/presentation";
import projects from "@/data/projects";

const posts = (await getCollection("posts")).sort(function (first, second) {
  return second.data.publishedAt.getTime() - first.data.publishedAt.getTime();
});
---

<Layout title="About — munawarjs.com">
  <main class="flex flex-col gap-20">
    <article class="flex flex-col gap-8 w-full max-w-[75ch]">
      <h1 class=" text-4xl font-normal text-white">About Munawar</h1>
      <div class="leading-8 text-xl text-slate-400 font-normal flex flex-col gap-6">
        <p>I am bringing over 12 years of experience as a Frontend design engineer with a deep understanding of UI/UX design, React.js, WordPress and end-to-end development of web applications, websites, and design systems.</p>
        <p>My expertise spans from initial concept creation, and design to UI development, all the way through the final product launch.</p>
        <p>A significant chapter of my career unfolded at Freshworks, where I made key contributions to amazing products such as Freshdesk, Freshchat, and Freshcaller.</p>
        <p>I also dedicate my time to create helpful content such as articles, guides and templates to assist fellow frontend engineers and product designers in jumpstarting their careers. My goal is to empower others in the industry to create beautiful and functional websites that make a difference in the world.</p>
        <p>Currently working on my next idea 💡</p>
      </div>
    </article>

    <article class="flex flex-col gap-8">
      <header class="flex w-full flex-row justify-between gap-2">
        <h3 class="text-lg text-neutral-100">
          Selected projects ({projects.length})
        </h3>
      </header>
      {projects.length === 0 && <p>Oops, I must work^^^^^</p>}

      <section class="flex flex-col gap-4">
        {
          projects.length !== 0 &&
            projects.map((project) => <ProjectCard {...project} />)
        }
      </section>
    </article>

    <article class="flex flex-col gap-8">
      <header class="flex w-full flex-row justify-between gap-2">
        <h3 class="text-lg text-neutral-100">Get in touch</h3>
      </header>
      <p>
        Email me at <Link
          href={`mailto:${presentation.mail}`}
          label={presentation.mail}
        /> or follow me via my social links.
      </p>

      <SocialLinks />
    </article>
  </main>
</Layout>
