---
import removeTrailingSlash from "@/utils/removeTrailingSlash";
import presentation from "@/data/presentation";
import { MdOutlineClose, MdOutlineMenu } from "react-icons/md";

const pathname = removeTrailingSlash(Astro.url.pathname);
---

<header class="flex w-full gap-2 flex-col md:flex-row justify-between items-center">
  <div class="flex w-full justify-between items-center font-black text-white text-2xl">
    <a href="/" title="Home">munawarjs<span class="text-orange-600">.</span></a>

    <button class="md:hidden" data-open-navigation>
      <MdOutlineMenu/>
    </button>
    <button class="md:hidden hidden" data-close-navigation>
      <MdOutlineClose/>
    </button>
  </div>
  <nav role="navigation" class="md:flex w-full md:w-auto hidden" data-navigation>
    <ul role="list" class="flex-row gap-6 flex py-4 items-center">
      <li>
        <a
          href="/"
          title="Home"
          class:list={{
            ["hover:text-neutral-100"]: true,
            ["text-neutral-100"]: pathname === "/",
          }}>Home</a
        >
      </li>
      <li>
        <a
          href="/about"
          title="About"
          class:list={{
            ["hover:text-neutral-100"]: true,
            ["text-neutral-100"]: pathname === "/about",
          }}>About</a
        >
      </li>
      <li>
        <a
          href="/posts"
          title="Blog"
          class:list={{
            ["hover:text-neutral-100"]: true,
            ["text-neutral-100"]: pathname === "/posts",
          }}>Blog</a
        >
      </li>
      <li>
        <a
          href={`mailto:${presentation.mail}`}
          title="Email"
          class:list={{
            ["hover:text-neutral-100"]: true,
            ["font-black text-xl"]: true
          }}>@</a
        >
      </li>
    </ul>
  </nav>
  <!-- <a href={`mailto:${presentation.mail}`} class="hover:text-neutral-100"
    >{presentation.mail}</a
  > -->
</header>
<script>
  const nav = document.querySelector("[data-navigation]");
  const openNav = document.querySelector("[data-open-navigation]");
  const closeNav = document.querySelector("[data-close-navigation]");

  if (nav && openNav && closeNav) {
    const toggleNav = () => {
      nav.classList.toggle('hidden');
      openNav.classList.toggle('hidden');
      closeNav.classList.toggle('hidden');
    };

    openNav.addEventListener('click', toggleNav);
    closeNav.addEventListener('click', toggleNav);
  } else {
    console.error('One or more elements not found.');
  }
</script>
